interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.nestoria.co.uk/api?sort=newest&number_of_results=20&country=uk&encoding=json&action=search_listings&place_name=London
  response:
    body: {string: "{\"request\":{\"country\":\"uk\",\"language\":\"en\",\"location\"\
        :\"London\",\"num_res\":\"20\",\"offset\":0,\"output\":\"json_xs\",\"page\"\
        :1,\"product_type\":\"realestate\",\"property_type\":\"property\",\"size_type\"\
        :\"gross\",\"size_unit\":\"m2\",\"sort\":\"newest\"},\"response\":{\"application_response_code\"\
        :\"110\",\"application_response_text\":\"listings returned, location very\
        \ large\",\"attribution\":{\"img_height\":22,\"img_url\":\"http://s.uk.nestoria.nestimg.com/i/realestate/all/all/pbr.png\"\
        ,\"img_width\":183,\"link_to_img\":\"http://www.nestoria.com\"},\"created_http\"\
        :\"Sun, 26 Apr 2015 19:01:35 GMT\",\"created_unix\":1430074895,\"link_to_url\"\
        :\"http://www.nestoria.co.uk/london/property/buy/results-20/sortby-newest\"\
        ,\"listings\":[{\"auction_date\":null,\"bathroom_number\":\"\",\"bedroom_number\"\
        :3,\"car_spaces\":null,\"commission\":0,\"construction_year\":0,\"datasource_name\"\
        :\"NetHousePrices\",\"guid\":\"g1-TOtAESyYjM3gFNx8jM5EzN1czM0g\",\"img_height\"\
        :120,\"img_url\":\"http://3.l.uk.nestoria.nestimg.com/lis/2/0/f/e602c6b10ce7ff2ecff774347c2597aba8959.2.jpg\"\
        ,\"img_width\":160,\"keywords\":\"\",\"latitude\":51.4192390441894531,\"lister_name\"\
        :\"Springbok\",\"lister_url\":\"http://rd.nestoria.co.uk/rd?itype=2&l=UYe-NGiQPiRGRJCiZ&s=&url=2-ePz73aTBU4LVGFByDI484Ner8aIMqOqmnXO6u50s2qDemu-ced_G5rGpMAbDMkMIxpMZsli8WefUu6sPU8-oGyh-pR5OgB7DY1PNU1dlMevg11bkCYzKZwBlYrKuUnoqgEDyvQcQ0gWjNiAXvEvzby0n8wKI_4SYr6LKnKR5B32Vljx1BjDAd3dmMw8zaBXYSfLNRCeMDbPY_Tna6o0iwSz5h4DeNRUbYdWNNbcD7cXNz6GVJCJe6fPj6vxgWR9WYOLnuFWmV3Rxj_fC6w3YF1nCL5QUigssuVrypNA6vzCAKnK5f1IoURFoQOrHDI7eyiNXkIFO&v=2\"\
        ,\"listing_type\":\"buy\",\"location_accuracy\":9,\"longitude\":0.129260003566741943,\"\
        price\":300000,\"price_currency\":\"GBP\",\"price_formatted\":\"300,000 GBP\"\
        ,\"price_high\":300000,\"price_low\":300000,\"price_type\":\"fixed\",\"property_type\"\
        :\"house\",\"summary\":\"Offers in excess of \xA3300,000springbok properties\
        \ offers this attractively...\",\"thumb_height\":60,\"thumb_url\":\"http://2.l.uk.nestoria.nestimg.com/lis/2/0/f/e602c6b10ce7ff2ecff774347c2597aba8959.1.jpg\"\
        ,\"thumb_width\":60,\"title\":\"Bedens Road, Sidcup, Kent, DA14\",\"updated_in_days\"\
        :0.5,\"updated_in_days_formatted\":\"yesterday\"},{\"auction_date\":null,\"\
        bathroom_number\":\"\",\"bedroom_number\":0,\"car_spaces\":null,\"commission\"\
        :0,\"construction_year\":0,\"datasource_name\":\"NetHousePrices\",\"guid\"\
        :\"g1-TOtAjR4QkQ1QTQwETRCFjNfdjMyEgM==\",\"img_height\":120,\"img_url\":\"\
        http://1.l.uk.nestoria.nestimg.com/lis/8/6/4/25a4a85bc7858661606bfbfd639abe53f508c.2.jpg\"\
        ,\"img_width\":160,\"keywords\":\"Loft, Reception\",\"latitude\":51.4921913146972656,\"\
        lister_name\":\"Hogarth Estates\",\"lister_url\":\"http://rd.nestoria.co.uk/rd?itype=2&l=UaeAPIkSRkTITLEkc&s=&url=2-ePz73aTBU4LVGFByDI4_4Ner8aIMqOqmn3O6u50s2qDemu-ced_G5rGpMAbDMkMHx54Zsli8WefUu6sPU8-oGzVguh5GgRjXelfSSVJlMe772ViqEdrSf0AlbLz8UGEghgfqpRYU0QCjNjxd9iD2fV94ogzZ78WAt7nDgbtzCnKRkCNpAj_LcnNrOQ4iZhuP[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.nestoria.co.uk/api?sort=newest&number_of_results=20&country=uk&encoding=json&action=search_listings&page=2&place_name=London
  response:
    body: {string: !!python/unicode '{"request":{"country":"uk","language":"en","location":"London","num_res":"20","offset":20,"output":"json_xs","page":"2","product_type":"realestate","property_type":"property","size_type":"gross","size_unit":"m2","sort":"newest"},"response":{"application_response_code":"110","application_response_text":"listings
        returned, location very large","attribution":{"img_height":22,"img_url":"http://s.uk.nestoria.nestimg.com/i/realestate/all/all/pbr.png","img_width":183,"link_to_img":"http://www.nestoria.com"},"created_http":"Sun,
        26 Apr 2015 19:01:36 GMT","created_unix":1430074896,"link_to_url":"http://www.nestoria.co.uk/london/property/buy/results-20/sortby-newest/start-20","listings":[{"auction_date":null,"bathroom_number":"","bedroom_number":3,"car_spaces":null,"commission":0,"construction_year":0,"datasource_name":"Home.co.uk","guid":"g1-DOtUzM5kDMwkzN1AwM==","img_height":120,"img_url":"http://3.l.uk.nestoria.nestimg.com/lis/7/c/3/06ac344a8b5d3b108600c33b3a93cca69ba8e.2.jpg","img_width":160,"keywords":"","latitude":51.6515617370605469,"lister_name":"haart","lister_url":"http://rd.nestoria.co.uk/rd?itype=2&l=VceMbUwedwfUfXQwn&s=&url=2-ePz73aTBU4LVGFByDI484Ner8aIMqOqmmXO6u50s2qDemu-ced_G5rGpMAbDMkMHx50Zsli8WefUu6sPU8-oGzVguh5AhRDYelfSSVBpMur02ViqEdrSf0AlbLz8UGEghgfqpRYT0AWjNjxd9iD2fV94ogzZ78WAt7nChLtwB3eTkSdpAj_LfHBvPwQgZhuPTuyDXD_GEbPctyzaso0imGz0nIXUbgURP9KPeaEVotTByqGYLzJa-LHgrOQrV09IL_v-uFCNXjstxquApkTJTgjMQbRU114m42Cw4o5x4WaXZA%3D%3D&v=2","listing_type":"buy","location_accuracy":10,"longitude":-0.277869999408721924,"price":320000,"price_currency":"GBP","price_formatted":"320,000
        GBP","price_high":320000,"price_low":320000,"price_type":"fixed","property_type":"flat","summary":"","thumb_height":60,"thumb_url":"http://2.l.uk.nestoria.nestimg.com/lis/7/c/3/06ac344a8b5d3b108600c33b3a93cca69ba8e.1.jpg","thumb_width":60,"title":"Oakwood
        House, WD6","updated_in_days":0.5,"updated_in_days_formatted":"yesterday"},{"auction_date":null,"bathroom_number":"","bedroom_number":3,"car_spaces":null,"commission":0,"construction_year":0,"datasource_name":"Home.co.uk","guid":"g1-DOtUzM5kDMwkzN2AQM==","img_height":120,"img_url":"http://2.l.uk.nestoria.nestimg.com/lis/5/0/d/5bc0c40a64961874ab0c4fb4540f90cdde963.2.jpg","img_width":160,"keywords":"","latitude":51.6515617370605469,"lister_name":"haart","lister_url":"http://rd.nestoria.co.uk/rd?itype=2&l=VYeIXQsaZsbQbTMsk&s=&u[...]
